body{
	overflow: hidden;
}

.opening-container{
	// display: none;
	border: 30px solid white;
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	position: absolute;
	top : 0px;
	z-index: 9;
	.opening-wrapping{
		@include span(12 nest);
	}
		.opening-showreel{
			box-sizing: border-box;
			background-color: black;
			height: 93.8vh;
			position: relative;
			z-index: -2;
			.opening-tag{
				@include container(680px);
				box-sizing: border-box;
				color: white;
				font-size: 70px;
				font-weight: bold;
				height: 400px;
				letter-spacing: .2em;
				padding-top: 68px;
				text-align: center;
				position: relative;
				transform: translateY(60%);
				z-index: 500;
			}
			.opening-background{
				@include container;
				background-color: transparent;
				height: 96.1vh;
				position: relative;
				transform: translateY(-43.2%);
				z-index: -1;
			}
			.gambar{
				background: black;
				color: white;
				position: absolute;
				top : 150px;
				left : 205px;
				height: 70%;
				width: 1400px;
				#gambar1{
					background: url('../gambar1.webp') no-repeat;
					background-size: 100%;
					position: absolute;
					height: 300px;
					width: 420px;
					top : 400px;
					left : 937px;
				}
				#gambar2{
					background: url('../gambar2.webp') no-repeat;
					background-size: 100%;
					position: absolute;
					top : 50px;
					left : 280px;
					height: 200px;
					width: 400px;
					z-index: 50;
				}
				#gambar3{
					background: url('../gambar3.jpg') no-repeat;
					background-size: 100%;
					position: absolute;
					height: 250px;
					width: 450px;
					top : 80px;
					left : 770px;
				}
				#gambar4{
					background: url('../gambar4.png') no-repeat;
					background-position: left;
					background-size: 80%;
					height: 300px;
					width: 500px;
					position: absolute;
					top : 390px;
					left : 175px;
					z-index: 50;
				}
				#lingkaran{
					background-color: #FF6347;
					border: 2px solid #FF6347;
					border-radius: 18px;
					position: absolute;
					left : 500px;
					top : 30px;
					height: 15px;
					width: 15px;
				}
				#kotak{
					border: 5px solid #FF6347;
					box-sizing: border-box;
					position: absolute;
					left : 100px;
					top : 250px;
					height: 20px;
					width: 20px;
				}
				#bulat{
					border: 5px solid #FF6347;
					border-radius: 15px;
					box-sizing: border-box;
					position: absolute;
					left : 1300px;
					top : 210px;
					height: 22px;
					width: 22px;
				}
				#lingkaran2{
					background-color: white;
					border: 2px solid white;
					border-radius: 18px;
					position: absolute;
					left : 0px;
					top : 0px;
					height: 15px;
					width: 15px;
				}
				#kotak2{
					border: 5px solid white;
					box-sizing: border-box;
					position: absolute;
					left : 50px;
					top : 550px;
					height: 15px;
					width: 15px;
				}
				#bulat2{
					border: 5px solid white;
					border-radius: 15px;
					box-sizing: border-box;
					position: absolute;
					left : 1250px;
					top : 80px;
					height: 22px;
					width: 22px;
				}
				#bulat3{
					border: 5px solid white;
					border-radius: 15px;
					box-sizing: border-box;
					position: absolute;
					left : 800px;
					top : -50px;
					height: 15px;
					width: 15px;
				}
				#bulat4{
					border: 5px solid white;
					border-radius: 15px;
					box-sizing: border-box;
					position: absolute;
					left : 630px;
					top : 680px;
					height: 12px;
					width: 12px;
				}
				#bulat5{
					border: 5px solid white;
					border-radius: 15px;
					box-sizing: border-box;
					position: absolute;
					left : 1210px;
					top : 380px;
					height: 13px;
					width: 13px;
				}
			}
			.opening-wrap{
				@include container(680px);
				border: 3px solid white;
				height: 400px;
				position: relative;
				top : -114vh;		
			}
		}
	.navbar-wrapping{
		@include span(12 nest);
		position: absolute;
		top : 0px;
		box-sizing: border-box;
		.navbar-showreel{
			box-sizing: border-box;
			background-color: black;
			height: 93.8vh;
			width: 100%;
			position: absolute;
			left : -100vw;
			transition: 0.8s;
			.navbar-tag{
				@include container(500px);
				ul{
					list-style: none;
					margin: 0px;
					margin-bottom: 100px;
					padding: 0px;
					padding-top: 70px;
					z-index: 9;
					li{
						margin: 40px 0px;
						text-align: center;
						a{
							color: white;
							font-size: 60px;
							padding: 15px 10px;
							text-decoration: none;
						}
					}
				}
			}	
		}
	}
	.panah{
		color: white;
		font-size: 40px;
		font-weight: 700;
		height: 40px;
		width: 48px;
		position: relative;
		top : -80px;
		margin: 0 auto;
		cursor: pointer;
		z-index: 1000;
		&:hover{color: red;}
		.panahkiri{
			position: absolute;
			left : 10px;
			transform: rotate(-30deg);
		}
		.panahkanan{
			position: absolute;
			right : 10px;
			transform: rotate(30deg);
		}
	}
	#d{
		font-size: 50px;
		font-weight: 700;
		float : right;
		position: relative;
		transform: translateY(-855%) translateX(-100%);
		z-index: 1000;
		a{
			color: white;
			text-decoration: none;
			&:hover{
				color: red;
			}
		}
	}
}

.coba {
	position: absolute;
	top : 47.5%;
	margin-left : 60px;
	height: 50px;
	width: 50px;
	z-index: 10;     
  button {
	    position: relative;
	    top : 22px;
	    display: block;
	    width: 34px;
	    height: 1px;
	    margin: 0 auto;
	    outline: none;
	    border: none;
	    background: white;
	    transition: 0.35s;  
    &:before,
    &:after {
	    position: absolute;
	    top: 0;
	    left: 50%;
	    display: block;
	    background: white;
	    content: "";
	    transition: transform 0.35s;
    }
    &:before {
      	transform: translate(-50%, -10px);
    }
    &:after {
      	transform: translate(-50%, 10px);
    }
  } //button
    button {
      &:before {
      	background-color: white;
      	height: 1px;
      	width: 35px;
        transform-origin: 50% 0%;
      }
      &:after {
      	background-color: white;
      	height: 1px;
      	width: 35px;
        transform-origin: 50% 0%;
      }
    }	
} //button-wrap

.tambah{
 	button {
      	background: transparent;  
    &:before {
        transform: translate(-50%, 0) rotate(45deg);
      }
    &:after {
        transform: translate(-50%, 0) rotate(-45deg);
      }
    }
}

.border{
	margin-top: -20px;
	border-left: 30px solid white;
	width: 100px;
	height: 100vh;
	position: absolute;
	z-index: 9;
}

.main-container{
	@include container;
	box-sizing: border-box;
	background-color: white;
	border: 18px solid black;
	color: black;
	font-size: 14px;
	font-weight: 700;
	min-height: 800px;
	position: relative;
	top : 100vh;
	.main-navbar{
		@include container(1411px);
		background-color: white;
		height: 250px;
		ul{
			padding: 0px;
			li{
				border: 2px solid transparent;
				box-sizing: border-box;
				margin: 120px 35px 145px 35px;
				display: inline-block;
				letter-spacing: .2em;
				text-align: center;
			}
		}
	}
	.main-content{
		@include container(1111px);
		background-color: white;
		color: red;
		font-size: 23px;
		letter-spacing: 0.2em;
		position: relative;
		text-align: center;
	}
	.panahmain{
		// border: 1px solid red;
		box-sizing: border-box;
		color: red;
		font-size: 30px;
		height: 40px;
		width: 40.5px;
		position: relative;
		margin: 0 auto;
		cursor: pointer;
		z-index: 1000;
		animation-name: goyang;
		animation-duration: .85s;
		animation-iteration-count: infinite;

		-webkit-animation-name: goyang;
		-webkit-animation-duration: .85s;

		@keyframes goyang{
			0%{font-size: 29px;}
			50%{font-size: 29.5px;}
			100%{font-size: 30px;}
		}

		@-webkit-keyframes goyang{
			0%{font-size: 29px;}
			50%{font-size: 29.5px;}
			100%{font-size: 30px;}
		}

		.panahkirimain{
			position: absolute;
			left : 10px;
			transform: rotate(-30deg);
		}
		.panahkananmain{
			position: absolute;
			right : 10px;
			transform: rotate(30deg);
		}
	}
	.d2{
		cursor: pointer;
		font-size: 80px;
		position: fixed;
		left : 100px;
		top : 50%;
		&:hover{
			color: red;
		}
	}
	.sosmed{
		cursor: pointer;
		position: fixed;
		right : 100px;
		top : 50%;
		ul{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			li{
				margin-bottom: 20px;
			}
		}
	}
	.gambar{
		@include container(1311px);
		background-color: white;
		border: 1px solid black;
		min-height: 2500px;
		margin-bottom: 0px;
	}
	.panahatas{
		color: black;
		font-size: 30px;
		height: 80px;
		width: 46px;
		position: relative;
		bottom : 100px;
		margin: 0 auto;
		cursor: pointer;
		text-align: center;
		z-index: 1000;
		&:hover{color: red;}
		.panahkirii{
			position: absolute;
			left : 10px;
			transform: rotate(60deg);
		}
		.panahkanann{
			position: absolute;
			right : 10px;
			transform: rotate(-60deg);
		}
		.top{
			font-size: 20px;
			margin: 0px auto;
		}
	}
	.footer{
		@include container;
		font-size: 14px;
		height: 150px;
		position: relative;
		top : -80px;
		.copyright{
			@include container(1800px);
			border-top: 1px solid grey;
			height: 100px;
			position: relative;
			top : 50px;
			.copkiri{
				@include span(6);

				height: 100px;
				.alamat{
					margin-top: 20px;
					margin-bottom: 50px;

				}
				.telepon{
					
				}
			}
			.copkanan{
				@include span(6);
				height: 100px;
				.kaki{
					margin-top: 20px;
					margin-bottom: 30px;
					text-align: right;
				}
				#kaki{
					
				}
				.studio{
					text-align: right;
				}
			}
		}
	}
}



// body{
// 	background-color: white;
// }




